@charset "utf-8";
@import "reset.css";

@font-face {
  font-family: "GmarketSansBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700;900&display=swap");

.sr-only {
  position: absolute;
  left: -100000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

body {
  margin: 98px auto 0;
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
  background: #f7f1c0;
  height: 100%;
}

button,
a {
  font-family: "Noto Sans KR", sans-serif;
}

.intro-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro-container h1 {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 55px;
  line-height: 55px;
  font-family: "GmarketSansBold", sans-serif;
}

.intro-container p {
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 36px;
  color: #9b51e0;
}

.intro-container strong {
  font-weight: bold;
  font-size: 16px;
  line-height: 23px;
  margin-bottom: 36px;
}

.intro-container img {
  width: 270px;
  height: 267px;
  margin-bottom: 36px;
}

.intro-container button {
  width: 300px;
  height: 52px;
  background: #ffffff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  color: #9b51e0;
  font-weight: 900;
  font-size: 16px;
}

/* 문항 선택 페이지 */

#question-form {
  width: 300px;
  margin: 0 auto;
}

.question-item {
  display: none;
  width: 100%;
}

.question-item.on {
  display: block;
}

.status-box {
  background-color: #fff;
  position: relative;
}

.status-box span {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 18px;
  color: #9b51e0;
  font-size: 18px;
}

.status-bar {
  height: 6px;
  background-color: #9b51e0;
}

.question-box h2 {
  font-weight: 900;
  font-size: 18px;
  line-height: 26px;
  margin: 40px 0 30px;
}

.question-box .answer-list {
  margin-bottom: 48px;
}

.question-box .answer-item {
  font-size: 16px;
  line-height: 23px;
  text-indent: -22px;
  margin: 0 0 12px 22px;
}

.question-box,
.question-box label {
  cursor: pointer;
}

.button-box {
  display: flex;
  justify-content: space-between;
}

.button-box button {
  width: 100px;
  height: 40px;

  background: #9b51e0;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
  border-radius: 10px;

  color: #fff;
  font-weight: 900;
  font-size: 16px;
  line-height: 23px;
}

.button-box.style-center {
  justify-content: center;
}
